article, aside, footer, header, main, nav, section{
  display:block;
}
html, body, h1, h2, h3, a, p, article, aside, footer, header, main, nav, section{
  padding:0;
}


body{
  width : 960px;
  margin-left:auto;
  margin-right:auto;
  font-family:Arial;
}

nav{
  background-color: lightblue;
  padding-top:10px;
}

.Menu{
  position:relative;
  display:inline-block;
  font-size:18px;
  margin-left:50px;
  margin-bottom:10px;
  color:white;
}

.dropDownItemSet{
  display:none;
  position:absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: #20B2AA;
  z-index:2;
}

.Menu:hover > a:first-child{
  color:#20B2AA;
}

.Menu:hover .dropDownItemSet{
  display:block;
}

.dropDownItem{
  text-decoration:none;
  font-weight:bold;
  display:block;
  padding-left:8px;
  padding-top:10px;
  padding-bottom:10px;
  font-size: 16px;
  color:white;
}

.dropDownItem:hover{
  text-decoration:none;
  font-weight:bold;
  display:block;
  padding-left:8px;
  padding-top:10px;
  padding-bottom:10px;
  font-size: 16px;
  color:#0044BB;
}

#slider{
  width:960px;
  height:400px;
  overflow:hidden;
  margin:0;
  padding:0;
  position:relative;
}

#slider .slides{
  display:block;
  width:6000px;
  height:400px;
  margin:0;
  padding:0;
  position:absolute;
}

#slider .slide{
  float:left;
  list-style-type:none;
  width:960px;
  height:400px;
}

.slide img{
  width:960px;
  height:400px;
}

#leftButton{
  height:50px;
  width:50px;
  position:absolute;
  left:3%;
  top:40%;
}

#rightButton{
  height:50px;
  width:50px;
  position:absolute;
  right:3%;
  top:40%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
   

}

#bulletNavigator{
  display:inline;
  list-style-type:none;
  

}

#bulletNavigator li{
  display:inline;
  cursor:default;
  padding-left:20px;
  

}

#bulletNavigator li p{
  display:inline;
  cursor:default;

}
.link{
  text-decoration:none;
  font-weight:bold;
  color:white;
}

#gallery{
  margin-top:50px;
}

#gallery .leftImage{
  width:450px;
  height:200px;
  float:left;
}
#gallery .rightImage{
  width:450px;
  height:200px;
  float:right;
}

#portrait{
  width:960px;
  padding-bottom:100px;
}

#portrait ul{
  list-style-type:none;
  margin:0;
}

#portrait ul li p{
  padding-top:50px;
  font-family:微軟正黑體;
  position:absolute;
  
}

#intro1 {
  font-size:20px;
  top:350px;
  left:240px;
  color:white;

}
#intro2 {
  font-size:20px;
  top:350px;
  left:375px;
  color:white;

}
#intro3 {
  font-size:20px;
  top:350px;
  left:710px;
  color:white;

}
#intro4 {
  font-size:20px;
  top:350px;
  left:845px;
  color:white;

}
#detail1 {
  top:400px;
  left:240px;
  font-size:16px;
  font-family: 微軟正黑體;
  color:DarkTurquoise;
}
#detail2 {
  top:400px;
  left:450px;
  font-size:16px;
  font-family: 微軟正黑體;
  color:DarkTurquoise;
}
#detail3 {
  top:400px;
  left:690px;
  font-size:16px;
  font-family: 微軟正黑體;
  color:DarkTurquoise;
}
#detail4 {
  top:400px;
  left:920px;
  font-size:16px;
  font-family: 微軟正黑體;
  color:DarkTurquoise;
}



.textForRightImg{
  padding-left:100px;
}

.bg_intro {
  position:absolute;
  top:150px;
  left:195px;
  width:960px;
  height:300px;
  background:DarkTurquoise;
  z-index:0; 
} 
#per1  {
  border-radius: 50%;
  border:0px solid #fff;
  width:210px;
  height:200px;
  position:absolute;
  top:200px;
  left:230px;
  z-index:1;
}
#per2  { 
  border-radius: 50%;
  border:0px solid #fff;
  width:210px;
  height:200px;
  position:absolute;
  top:200px;
  left:460px;
  z-index:1;
}
#per3  {
  border-radius: 50%;
  border:0px solid #fff;
  width:210px;
  height:200px;
  position:absolute;
  top:200px;
  left:690px;
  z-index:1;
}
#per4  {
  border-radius: 50%;
  border:0px solid #fff;
  width:210px;
  height:200px;
  position:absolute;
  top:200px;
  left:920px;
  z-index:1;
}
iframe#iframe1 {
  background-color:#00CED1;
  position:absolute;
  top:850px;
  left:200px;
  
}
.footerList{
  display:inline-block;
  vertical-align:top;
  margin:0;
  padding-top:10px;
  list-style-type:none;
  color:gray;
}
.footerList li{
  padding-top:5px;
}
