
@import url(https://fonts.googleapis.com/css?family=Raleway);

#loginForm, #registerForm{
  width: 100%;
  height: 100%;
  opacity: 0.95;
  top: 0;
  left: 0;
  display: none;
  position: fixed;      
  background-color: #313131;
  overflow:auto;
  z-index:2;
}

img.closePopUpForm{
  position: absolute;
  right: -14px;
  top: -14px;
  cursor: pointer;
}

div#popupContact{
  position: absolute; 
  left: 50%;
  top: 17%;
  margin-left: -202px;
  font-family: 'Raleway', sans-serif;
}

form{
  max-width: 300px;
  min-width: 250px;
  padding: 10px 50px;
  border: 2px solid gray;
  border-radius: 10px;
  font-family:raleway;
  background-color: white;
}
 #fontForm {
  position:absolute;
  margin-top:30px;
  margin-left:40px;
  width:300px;
  height:75px;
  border-color:transparent;
  z-index:0;
}
#ADpreview{
 width:450px;
 height:300px;
 position:absolute;
 top:180px;
 left:225px;
 border:2px dashed gray;
}
#preview{
  position:absolute;
  width:450px;
  height:300px;
}
.word1 {
  position:absolute;
  margin-top:0px;
  margin-left:70px;
  width:170px;
  height:80px;
  padding:80px 80px;
  z-index:1; 
  font-size:32px;
  font-weight:bold;
  color:white;
}
.content1 {
  position:absolute;
  margin-top:50px;
  margin-left:70px;
  width:178px;
  padding:80px 80px;
  z-index:1; 
  font-size:16px;
  font-weight:bold;
  color:white;
}
.word2 {
  position:absolute;
  top:60px;
  width:160px;
  margin-left:190px;
  padding:80px 80px;
  z-index:1; 
  font-size:28px;
  font-weight:bolder;
  color:black;
}
.content2 {
  position:absolute;
  top:100px;
  margin-left:195px;
  width:160px;
  padding:80px 80px;
  z-index:1; 
  font-size:14px;
  color:black;
  opacity:0.8;
}
.word3 {
  position:absolute;
  margin-top:40px;
  margin-left:0px;
  padding:40px 30px;
  z-index:1; 
  font-size:28px;
  font-weight:bold;
  color:white;
}
.content3 {
  position:absolute;
  margin-top:80px;
  margin-left:0px;
  padding:40px 30px;
  z-index:1; 
  font-size:20px;
  font-weight:bold;
  color:orange;
}
.word4 {
  position:absolute;
  top:50px;
  margin-left:105px;
  padding:80px 60px;
  z-index:1; 
  font-size:48px;
  font-family:"Adobe Devanagari";
  font-weight:bolder;
  color:white;
}
.content4 {
  position:absolute;
  top:105px;
  margin-left:105px;
  padding:80px 60px;
  z-index:1; 
  font-size:16px;
  font-weight:bold;
  color:purple;
}
.word5 {
  position:absolute;
  top:25px;
  margin-left:130px;
  width:80px;
  padding:80px 60px;
  z-index:1; 
  font-size:28px;
  color:black;
  font-weight:bolder;
}
.content5 {
  position:absolute;
  top:135px;
  margin-left:53px;
  padding:80px 60px;
  z-index:1; 
  font-size:14px;
  font-weight:bold;
  color:white;
}
#background {
  position:relative;
  margin-left:180px;
  margin-top:305px;
  width:40px;
  height:40px;
  z-index:0;
}
#font {
  position:relative;
  margin-top:300px;
  margin-left:10px;
  width:35px;
  height:40px;
  z-index:0;
}
.choose {
  position:relative;
  margin-top:30px;
  margin-left:0px;
  width:86px;
  height:80px;
  display:inline-block;
  z-index:0;
}

.topic1{
  position:absolute;
  margin-top:30px;
  margin-left:140px;
  width:28px;
  height:28px;
  padding:80px 80px;
  border-radius:999px;
  background-color:black;
  opacity:0.4;
  z-index:0;
}
.topic2{
  position:absolute;
  margin-top:30px;
  margin-left:140px;
  width:28px;
  height:28px;
  padding:80px 80px;
  border-radius:999px;
  background-color:black;
  opacity:0;
  z-index:0;
}
.topic3{
  position:absolute;
  margin-left:0px;
  margin-top:80px;
  width:290px;
  height:10px;
  padding:50px 80px;
  background-color:BurlyWood;
  opacity:0.6;
  z-index:0;
}
.topic4{
  position:absolute;
  margin-top:115px;
  margin-left:160px;
  width:70px;
  height:50px;
  padding:40px 30px;
  background-color:white;
  opacity:0.4;
  z-index:0;
}
.topic5{
  position:absolute;
  border-color:transparent transparent #FFFFF0 transparent;
  border-style:solid solid solid solid;
  border-width:0px 68px 68px 0px;
  margin-top:73px;
  margin-left:221px;
  width:0px;
  height:0px;
  opacity:0.5;
  z-index:0;
}
#topic5s{
  position:absolute;
  border-color:#FFFFF0 transparent transparent transparent;
  border-style:solid solid solid solid;
  border-width:70px;
  margin-top:145px;
  margin-left:150px;
  width:0px;
  height:0px;
  opacity:0.5;
  z-index:0;
}
#topic5s1{
  position:absolute;
  border-color:transparent transparent #FFFFF0 transparent;
  border-style:solid solid solid solid;
  border-width:0px 0px 68px 68px;
  margin-top:73px;
  margin-left:150px;
  width:0px;
  height:0px;
  opacity:0.5;
  z-index:0;
}
p{
  margin-top: 30px;
}

h2{
  background-color: #FEFFED;
  padding: 20px 35px;
  margin: -10px -50px;
  text-align:center;
  border-radius: 10px 10px 0 0;
}

hr{
  margin: 10px -50px;
  border: 0; 
  border-top: 1px solid #ccc;
}

input[type=text], input[type=password]{
  width:82%;
  padding: 10px;
  margin-top: 30px;
  border: 1px solid #ccc;
  padding-left: 40px;
  font-size: 16px;
  font-family:raleway;
} 

form input{
  background-repeat: no-repeat;
  background-position: 5px 7px;
}

#email{
  background-image: url('../images/email.png');
  background-repeat: no-repeat;
  background-position: 5px 7px;
}

textarea{
  background-image: url('../images/msg.png');
  background-repeat: no-repeat;
  background-position: 5px 7px;
  width:82%;
  height: 95px;
  padding: 10px;
  resize:none;
  margin-top: 30px;
  border: 1px solid #ccc;
  padding-left: 40px;
  font-size: 16px;
  font-family:raleway;
  margin-bottom: 30px;
}

.submit{
  display:block;
  text-decoration:none;
  width:100%;
  text-align:center;
  background-color:#FFBC00;
  color: white;
  border: 1px solid #FFCB00;
  padding: 10px 0;
  font-size:20px;
  cursor:pointer;
  border-radius: 5px;
  margin-top:10px;
}

span{
  color:red;
  font-weight:bold;
}

button{
  margin-top:30px;
  width:10%;
  height:45px;
  border-radius:3px;
  background-color: peru;
  color:white;
  font-family: 'Raleway', sans-serif;
  font-size:18px;
  cursor:pointer;
}

.styleSelector{
  list-style-type:none;
  margin-top:0px;
}

.styleSelector li{
  display: inline-block;
  padding-left:20px;
}

.styleSelector input[type=radio]{
  display:none;
}
.styleSelector input[type=radio] + label{
  cursor:pointer;
}
.styleSelector input[type=radio]:checked + label{
  border:2px solid red;
}
